/* BOILERPLATE */
:root {
    --color-sidebar-background: #2E2C2C;
    --color-tab-background: hsla(234, 27%, 23%, 100);
    --color-rain: #59C8F6;
    --color-content-background: #2E3F5C;
    --color-sidebarTab-background: #5A585A;
    --weatherTabColor: #727C99;
    --tab-gap: 10px;
}
html {
    font-family: Helvetica;
}
body, h1, h2, h3, p {
    margin: 0;
}
button {
    cursor: pointer;
}
app-root {
    display: block;
}

/* LOADER */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 100px 0 0 0;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* RANGE SETTINGS */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    appearance: none;
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 15px;
    width: 7px;
    border-radius: 8px;
    background: #ffffff;
    margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 15px;
    width: 5px;
    border-radius: 8px;
    background: #ffffff;
}
.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 2px;
    border: 1px solid #010101;
}
.range::-moz-range-track {
    width: 100%;
    height: 5px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 2px;
    border: 1px solid #010101;
}
.aqRange, .uvRange {
    align-self: self-end;
    margin: 0;
}
.aqRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(90deg, green, yellow 15%, orange 25%, red 40%, purple 55%, maroon 70%);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.aqRange::-moz-range-track {
    width: 100%;
    height: 5px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(90deg, green, yellow 15%, orange 25%, red 40%, purple 55%, maroon 70%);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.uvRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(.25turn, green, yellow 25%, orange 50%, red 66%, purple 91%);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.uvRange::-moz-range-track {
    width: 100%;
    height: 5px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(.25turn, green, yellow 25%, orange 50%, red 66%, purple 91%);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.sunRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(.25turn, #3071a9, yellow, #3071a9);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.sunRange::-moz-range-track {
    width: 100%;
    height: 5px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: linear-gradient(.25turn, #3071a9, yellow, #3071a9);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.sunRange {
    margin: 0;
}
*:disabled {
    opacity: 1; /* for iOS Safari */
}

/* COMPONENTS */
app-glance {
    color: #FFF;
    text-align: center;
}
app-sidebar {
    min-height: calc(100vh - 20px);
    display: block;
    color: #FFF;
    background-color: var(--color-sidebar-background);
    padding: 10px;
}
app-small-details, app-top-two-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* FOR MORE THAN ONE COMPONENT */
.tab {
    display: grid;
    grid-template-rows: max-content;
    background-color: var(--color-tab-background);
    color: #FFF;
    border-radius: 8px;
    padding: 10px;
}
.tab > h2 {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    font-size: 12px;
    color: var(--weatherTabColor);
    margin: 0 0 10px 0;
}
.infoIcon {
    width: 16px;
    height: 16px;
}
.rainChance {
    color: #59C8F6;
    font-weight: bold;
    font-size: 14px;
}
.snowChance {
    font-weight: bold;
}

/* DONT KNOW WHAT THIS DOES YET */
.menuBttn {
    display: none;
}
.tab:not(:nth-child(1)) {
    height: 150px;
}

@media (min-width: 600px) {
    app-hourly {
        grid-column: 1 / span 2;
    }
    app-top-two-tabs {
        grid-template-columns: none;
        grid-template-rows: 1fr;
    }
    app-small-details {
        grid-column: 1 / span 2;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1281px) {
    app-root {
        display: grid;
        grid-template-columns: 1fr 4fr;
        min-height: 100vh;
    }
    app-hourly {
        grid-column: 1 / span 6;
    }
    app-three-day {
        grid-column: 1 / span 2;
    }
    app-top-two-tabs {
        grid-column: 3;
    }
    app-small-details {
        grid-column: 4 / span 3;
    }
}